<%/**
 * footer.ejs
 *
 * Wepp App Name: Mid-Term Test - Favourite Book List App
 * Student Name: Ronald Saenz
 * Student Id: 301218602
 * Date: March 05, 2022
 *
 * @link   partials/footer.ejs
 * @file   This file defines the partial view to include the js scripts needed by the page.
 * @author Ronald Saenz <rsaenzh@my.centennialcollege.ca>
 * @since  1.0.0
 */%>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">
      Design by <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/ronald-saenz/?locale=en_US">Ronald Saenz</a>
      &copy; 2022 All Rights Reserved.
    </h4>

    <h4 style="text-align: right;">
      <a class="nav-link" target="_blank" href="https://youtu.be/nFCF6PwyBUw">Youtube Video Tutorial</a> &nbsp;&nbsp;&nbsp;&nbsp; 
      <a class="nav-link" target="_blank" href="https://github.com/ronaldsaenz88/COMP229-W2022-MidTerm-301218602">Github Repo</a>
    </h4>
  </div>
</nav>

<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
